// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

section{
    background :  url('/images/background.jpeg');
    background-repeat : no-repeat;
}
#Nama{
    width 200px
    height auto
    padding 3px
    text-align center
    visibility hidden
}
#startNow{
    margin-top 10px
    width 200px
    height auto
    padding 3px
    text-align center
    visibility hidden
    font-weight bold
}
.timelimit{
    width 74px
    height 74px
    text-align center
    font-weight bold
    font-size 40px
    line-height 74px
    background :  url('/images/timelimit.png');
    background-repeat : no-repeat;
    margin-top 170px
}
.pertanyaan{
    width 640px
    height 64px
    background :  url('/images/pertanyaan.png');
    background-repeat : no-repeat;
    margin-top 15px
}
.tempJawaban{
    width 640px
    height 88px
}
.jawaban1{
    width 320px
    height 44px
    background :  url('/images/jawabanAnC.png');
    background-repeat : no-repeat;
    float left
    margin-top 15px
}
.jawaban2{
    width 320px
    height 44px
    background :  url('/images/jawabanBnD.png');
    background-repeat : no-repeat;
    float left
    margin-top 15px
}
.jawaban3{
    width 320px
    height 44px
    background :  url('/images/jawabanAnC.png');
    background-repeat : no-repeat;
    float left
    margin-top 15px
}
.jawaban4{
    width 320px
    height 44px
    background :  url('/images/jawabanBnD.png');
    background-repeat : no-repeat;
    float left
    margin-top 15px
}
.deck{
    background #555
    }