// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

.deck{
    background :  url('/images/backbody.jpg') no-repeat fixed;
    background-size : cover;
}
section{
    background :  url('/images/background.jpeg');
    background-repeat : no-repeat;
    background-size : cover;
}
#start{
    position absolute
    bottom 30px
    width 160px
    height 19px
    animation-duration 3s
    animation-iteration-count infinite
    animation-name startanimation
    background url('/images/icstartgame1.png')
}
@keyframes startanimation{
    0%{
        opacity 1
    }
    50%{
        opacity 0.3
    }
    100%{
        opacity 1
    }
}
#theman{
    width 404px
    height 282px
    z-index -1
    background url('/images/theman.png')
    background-repeat no-repeat
}
#Nama{
    width 200px
    height auto
    padding 3px
    opacity 0
    text-align center
    z-index 1
}
#startNow{
    margin-top 10px
    width 200px
    height auto
    padding 5px
    text-align center
    font-weight bold
    background #0000CD
    border 0px solid black
    color #FFF
    opacity 0
    z-index 1
}
#startNow:hover{
    background #FFF
    color #0000CD
    transition 0.3s all
}
.timelimit{
    width 74px
    height 74px
    text-align center
    font-weight bold
    font-size 40px
    line-height 74px
    background :  url('/images/timelimit.png');
    background-repeat : no-repeat;
    margin-top 170px
}
.pertanyaan{
    width 640px
    height 64px
    background :  url('/images/pertanyaan.png');
    background-repeat : no-repeat;
    margin-top 15px
    line-height 64px
    text-align center
    color white
    font-size 14px
}
.tempJawab{
    width 640px
    height 88px
}
.tempjawabanL{
    margin-top 10px
    width 320px
    height 44px
    float left
}
.tempjawabanR{
    margin-top 10px
    width 320px
    height 44px
    float right
}
.leftjawaban{
    width 58px
    height 9px
    background url('/images/sideleft.png')
    background-repeat : no-repeat;
    margin-top 17.5px
    position absolute
    z-index -1
}
.rightjawaban{
    width 58px
    height 9px
    background url('/images/sideright.png')
    background-repeat : no-repeat;
    margin-top 17.5px
    margin-left 262px
    position absolute
    z-index -1
}
.jawabantempOKR{
    width 284px
    height 44px
    float right
}
.jawabantempOKL{
    width 284px
    height 44px
    float left
}
.jawabanN{
    width 284px
    height 44px
    background :  url('/images/jawabanNentral.png');
    line-height 44px
    text-align center
    color white
    font-size 14px
}
.jawabanN:hover{
    background :  url('/images/jawabanhold.png');
    transition 200ms all
}
.jawabanT{
    width 284px
    height 44px
    background :  url('/images/jawabanTrue.png');
}
.jawabanF{
    width 284px
    height 44px
    background :  url('/images/jawabanFalse.png');
}


.fifty{
    margin-top 10px
    border-radius 100px
    padding 5px 10px 5px 10px
    border 2px solid #0000DF
    float left
}
.fifty:hover, .claim:hover{
    background yellow
}
.claim{
    margin-left 20px
    margin-top 10px
    border-radius 100px
    padding 5px 10px 5px 10px
    border 2px solid #0000DF
    float left
}
.fifty:hover{
    background yellow
}
.claim{
    margin-top 10px
    border-radius 100px
    padding 5px 10px 5px 10px
    border 2px solid #0000DF
}
.claim:hover{
    background yellow
}
.grandprize{
    width 111px
    height 215px
    position absolute
    top 10px
    right 20px
    background url('/images/infoprize.jpg')
    text-align center
    padding-top 3px
}
#EndMsg{
    background #24478f
    border 5px solid white
    border-radius 10px
    width 400px
    height 70px
    line-height 70px
    color white
    margin-bottom 20px
}
.textprize{
    font-size 13px
    margin 0px
    font-weight bold

}

#kalah{
    margin-top 10px
    width 200px
    height auto
    padding 5px
    text-align center
    font-weight bold
    background #0000CD
    border 0px solid black
    color #FFF
}
#kalah:hover{
    background #FFF
    color #0000cd
    transition 0.3s all
}