// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

.deck{
    background :  url('/images/backbody.jpg') no-repeat fixed;
    background-size : cover;
}
section{
    background :  url('/images/background.jpeg');
    background-repeat : no-repeat;
}

#Nama{
    width 200px
    height auto
    padding 3px
    text-align center
    visibility hidden
}
#startNow{
    margin-top 10px
    width 200px
    height auto
    padding 5px
    text-align center
    visibility hidden
    font-weight bold
    background #0000CD
    border 0px solid black
    color #FFF
}
#startNow:hover{
    background #FFFx
    color #0000CD
    transition 0.3s all
}
.timelimit{
    width 74px
    height 74px
    text-align center
    font-weight bold
    font-size 40px
    line-height 74px
    background :  url('/images/timelimit.png');
    background-repeat : no-repeat;
    margin-top 170px
}
.pertanyaan{
    width 640px
    height 64px
    background :  url('/images/pertanyaan.png');
    background-repeat : no-repeat;
    margin-top 15px
    line-height 64px
    text-align center
    color white
    font-size 14px
}
.tempJawab{
    width 640px
    height 88px
}
.tempjawabanL{
    margin-top 10px
    width 320px
    height 44px
    float left
}
.tempjawabanR{
    margin-top 10px
    width 320px
    height 44px
    float right
}
.leftjawaban{
    width 58px
    height 9px
    background url('/images/sideleft.png')
    background-repeat : no-repeat;
    margin-top 17.5px
    position absolute
    z-index -1
}
.rightjawaban{
    width 58px
    height 9px
    background url('/images/sideright.png')
    background-repeat : no-repeat;
    margin-top 17.5px
    margin-left 262px
    position absolute
    z-index -1
}
.jawabantempOKR{
    width 284px
    height 44px
    float right
}
.jawabantempOKL{
    width 284px
    height 44px
    float left
}
.jawabanN{
    width 284px
    height 44px
    background :  url('/images/jawabanNentral.png');
    line-height 44px
    text-align center
    color white
    font-size 14px
}
.jawabanN:hover{
    background :  url('/images/jawabanhold.png');
    transition 200ms all
}
.jawabanT{
    width 284px
    height 44px
    background :  url('/images/jawabanTrue.png');
}
.jawabanF{
    width 284px
    height 44px
    background :  url('/images/jawabanFalse.png');
}
#start{
    width 288px
    height 66px
    background url('/images/icstartgame.png')
}
#start:hover{
    width 304px
    height 80px
    background url('/images/icstartgamehover.png')
    transition 100ms all
}
.fifty{
    margin-top 10px
    border-radius 100px
    padding 5px 10px 5px 10px
    border 2px solid #0000DF
}
.grandprize{
    width 111px
    height 215px
    position absolute
    top 10px
    right 20px
    background url('/images/infoprize.jpg')
    text-align center
    padding-top 3px
}
.textprize{
    font-size 13px
    margin 0px
    font-weight bold
}
.textprize:hover{
    background-color #FFF
    color #FFd700
    transition 0.3s all
}